nav{
  background-color: lavenderblush;
  font-family: "Times New Roman";
  font-weight: normal;
  font-size: medium;
}

.centerNavigation{
  text-align: center;
}

.centerNavigation ul{
  display: inline-block;
  margin: 0;
  padding: 0;
}
.centerNavigation li{
  float: left;
  margin: 0px 120px 0px 120px;
}

.center_ul {
  list-style-position: inside;
}

body{
  background-color: powderblue;
}

h1{
  color: lightpink;
  background-color: cadetblue;
  font-family: "Cinzel Decorative", cursive;
  font-weight: bold;
  font-size: xx-large;
  text-align: center;
}

h2{
  color: deeppink;
  background-color: aliceblue;
  font-family: Elephant;
  font-size: x-large;
  margin-right: 81%;
}

h2.one{
  text-align: center;
  margin: 0px 35%;
}

h2.resume{
  color: cornflowerblue;
  font-family: "Malgun Gothic";
  font-weight: bold;
  font-size: x-large;
  margin-top: 0.2%;
  margin-bottom: 1%;
  margin-right: 85%;
}

h2.awards{
  color: cornflowerblue;
  font-family: "Malgun Gothic";
  font-weight: bold;
  font-size: x-large;
  margin-top: 0.2%;
  margin-bottom: 1%;
  margin-right: 71%;
}

h3{
  color: darksalmon;
  font-family: "Courier New";
  font-weight: bold;
  font-size: larger;
}

section.one{
  border-style: dotted;
  border-width: thick;
  text-align: center;
  font-family: "Comic Sans MS";
}

section.two{
  border-style: ridge;
  border-width: thick;
  border-color: deepskyblue;
  margin: 0px 10% 25px 10%;
  width: 80%;
  padding: 10px;
  font-family: "Bahnschrift";
  text-align: center;
}

section.three{
  border-style: dotted;
  border-width: thick;
  margin: 0px 10% 25px 10%;
  width: 80%;
  padding: 10px;
  font-family: "Cambria";
  text-align: center;
}

section.four{
  border-style: dashed;
  border-width: thick;
  margin: 0px 10%;
  width: 80%;
  padding: 10px;
  font-family: "Franklin Gothic Book";
  text-align: center;
}

section.five{
  font-family: 'Nanum Pen Script', cursive;
  font-size: x-large;
}

.center_ul {
  list-style-position: inside;
}

.leftAlign{
  float: left;
  text-align: left;
  width: 50%;
  margin-top: 0.2%;
  margin-bottom: 1%;
}

.leftAlign_2{
  text-align: left;
  width: 50%;
}

.rightAlign{
  float: right;
  text-align: right;
  width: 50%;
  margin-top: 0px;
}

.rightAlign_2{
  float: right;
  text-align: right;
  width: 50%;
  margin: 0px;
}

p.one{
  margin-top: 0.2%;
  margin-bottom: 1%;
}

li{
  margin-bottom: 0.5%;
}