body{
  background-color: lavender;
}

h1{
  color: darkviolet;
  background-color: plum;
  font-family: "Bookman Old Style";
  font-weight: bold;
  font-size: xx-large;
  text-align: center;
}

h2{
  color: cornflowerblue;
  font-family: "Malgun Gothic";
  font-weight: bold;
  font-size: x-large;
}

h3{
  color: darksalmon;
  font-family: "Courier New";
  font-weight: bold;
  font-size: larger;
}

nav{
  background-color: lavenderblush;
  font-family: "Times New Roman";
  font-weight: normal;
  font-size: medium;
}

.centerNavigation{
  display: inline-block;
  text-align: center;
  width: 33%;
}

.center_ul {
  list-style-position: inside;
}

.leftAlign{
  float: left;
  text-align: left;
  width: 50%;
}

.leftAlign_2{
  text-align: left;
  width: 50%;
}

.rightAlign{
  float: right;
  text-align: right;
  width: 50%;
}

p{
  margin-top: 0.2%;
  margin-bottom: 1%;
}

section.four {
  border-style: dotted;
  border-width: thick;
  margin-top: 0;
}

li{
  margin-bottom: 0.5%;
}